.user_filter {
  border-bottom: 1px dashed;
  color: #3a85ad;
  cursor: pointer;
  position: relative;
}

.user_info {
  background: #fff none repeat scroll 0 0;
  bottom: 100%;
  box-shadow: 0 5px 10px -5px #787878;
  display: none;
  left: 0;
  padding: 15px;
  position: absolute;
  width: 300px;
  z-index: 2;
  width: 300px;
}

.user_info h1 {
  padding-top: 0;
}

.user_info img {
  height: auto;
  margin-bottom: 5px;
  margin-right: 20px;
  max-width: 150px;
}

.pm a {
  background: #bae5ff none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.65);
  clear: left;
  color: #175876;
  display: block;
  margin: auto;
  padding: 5px 7px;
  text-align: center;
  transition: 400ms all ease-out;
}

.pm a:hover {
  background: #abdaf7 none repeat scroll 0 0;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  color: #09384E;
  text-decoration: none;
}

/*.popover {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  padding: 25px;
  margin-top: -25px;
  position: absolute;
  z-index: 999;
}*/